name: Deploy to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          npm ci || npm install

      - name: Run tests
        run: npm test

  deploy:
    runs-on: ubuntu-latest
    needs: test  # test job'ı başarılı olursa çalışır
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: SSH to EC2 and deploy
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu

            if [ ! -d "TestDevops" ]; then
              git clone https://github.com/Mryilmaz7/TestDevops.git
            fi

            cd TestDevops
            git pull origin main

            # Docker kurulu değilse yükle
            if ! command -v docker &> /dev/null
            then
              sudo apt update -y
              sudo apt install docker.io -y
              sudo systemctl enable docker
              sudo systemctl start docker
            fi

            # Eski container'ı kaldır
            sudo docker stop app || true
            sudo docker rm app || true
            sudo docker image prune -af || true

            # Yeni imaj oluştur ve çalıştır
            sudo docker build -t testdevops .
            sudo docker run -d -p 3000:3000 --name app testdevops
